@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    /* background-image: url('./../assets/imgs/backgrounds.png'); */
    background-size: cover;
    background-repeat: no-repeat;
}
.homeSection{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.textSection{
    width: 40%;
    
}
.textSection > h3 {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 48px;
    color: #1363DF;
    width: 100%;
}
.textSection > p{
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #06283D;
    width: 100%;

}
@media screen and (max-width: 1050px) {
    .homeSection{
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .homeSection > img {
        width: 57%;
        height: auto;
}
    .textSection{
        width: 80%;
    }
    .textSection > h3 {
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        line-height: 48px;
        color: #1363DF;
        width: 100%;
    }
    .textSection > p{
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #06283D;
        width: 100%;
    
    }

}