@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    /* background-size: cover; */
    background-repeat: no-repeat;
}
.homeSection{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}
.leftSection{
    text-align: left;
    width: 472px;
    height: 282px;
}
.leftSection > h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #06283D;
    margin-bottom: 15px;
}
.leftSection > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #06283D;
    width: 338px;
    margin-bottom: 25px;
    }